:root {
    --primary-color: rgb(247, 177, 27);
    --secondary-color: gainsboro;
    --highlight-color: skyblue;
    font-size: 16px;
}

/* Scale font size down for smaller screens */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    :root {
        font-size: 13px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 2em;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: auto;
    padding: 1em;
    max-width: 90%;
}

form {
    background-color: white;
    max-width: 100%;
    padding: 1em;
    margin: 1em auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Login-button {
    font-size: 1rem;
    margin: 1em;
}

.button-login {
    padding: 0.5em;
}

.button-login a {
    text-decoration: none;
    padding: 0.4em 2em;
    color: black;
    background-color: var(--secondary-color);
    border-radius: 2px;
    font-size: 1rem;
}

.button-login a:active,
.button-login a:hover {
    background-color: var(--primary-color);
}

.sub-content {
    padding: 1em;
}

.form-mail,
.form-password {
    padding: 0.4em 1.5em;
    border-radius: 2px;
    background: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    width: 100%;
    box-sizing: border-box;
    margin: 0.5em 0;
}

.Pass-otp a {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 0.6em;
    background-color: var(--secondary-color);
    border-radius: 2px;
}

.Pass-otp a:active {
    background-color: var(--primary-color);
}

.forget-pass {
    text-align: right;
    margin-right: 1em;
    font-size: 0.8rem;
}

#button {
    padding: 0.8em;
    background-color: var(--primary-color);
    border: none;
    width: 100%;
    font-size: 1rem;
    margin: 1em 0;
}

/* Media Queries */
@media (max-width: 768px) {
    .container, form {
        max-width: 95%;
    }
    #button {
        padding: 0.8em;
        font-size: 0.9rem;
    }
    .button-login a {
        padding: 0.4em 1.5em;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #button {
        margin: 1em auto;
        max-width: 80%;
    }
    form {
        max-width: 80%;
    }
}

@media (min-width: 1024px) {
    form {
        max-width: 50%;
    }
}
